@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

:root{
	--main-background: #24325c;
	--main-fonts-color: #fff;
	--main-decor-color:#00a9e2;
  --main-header-background:#21252e;
	--main-font-family: 'Poppins', sans-serif;
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body{
  background-color:#24325c;
}
ol {
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;

  list-style: none;
  counter-reset: stepnr;
}

li:nth-child(6n + 1) { --accent-color: #b8df4e }
li:nth-child(6n + 2) { --accent-color: #4cbccb }
li:nth-child(6n + 3) { --accent-color: #7197d3 }
li:nth-child(6n + 4) { --accent-color: #ae78cb }
li:nth-child(6n + 5) { --accent-color: #7dc7a4 }
li:nth-child(6n + 6) { --accent-color: #f078c2 }
.img{
  width:200px;
}
ol li {
  counter-increment: stepnr;
  width: 19rem;
  --borderS: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > * { width: 7.5rem }
ol li .icon { font-size: 2rem; color: var(--accent-color); text-align: center }
ol li .title { font-size:1.3rem; font-weight: 500 }
ol li .descr { font-size: 0.8rem; font-weight: 300 }

a.nav-link{
	margin: 2px 5px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}
.active{
	background: var(--main-decor-color);
}
.navbar{
  z-index:10
}
/* header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
  align-items: center; 
	justify-content:center; 
  background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}
.nav-show{
	opacity:0;
}

header:hover{
	opacity: 0.8;
	background: var(--main-header-background);
}

.nav-bar{
	list-style:none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}


.nav-link:hover {
	color: #000000;
  background: var(--main-decor-color);
} */
#home{ 	
	height: 90vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  background-color: var(--main-background)
}

#home .filter{
	background: url('https://images.unsplash.com/photo-1544099858-75feeb57f01b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity:0.20;
}  

.intro {
  text-align:center;
  color: var(--main-fonts-color);
	z-index: 1;
	margin:1rem;
	padding:6px 20px;
}

.intro  p{
  margin: 5px;
	font-size:1.2rem;
	font-family: var(--main-font-family);
	text-align:center;
}
button:focus{
  outline:none;
}

 h3{
	padding-bottom: 15px;
  letter-spacing: normal;
  font-family: var(--main-font-family);
	font-style: normal;
	font-size: 40px;
	color: var(--main-fonts-color);
	text-shadow: 0px 0px 40px var(--main-decor-color);
}


/*──────────────────
    social media
──────────────────*/

.social-media{
	padding: 10px;
	display: flex;
	position: center;
  align-items: space-around;
	justify-content:center;
}

.social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	  color: var(--main-fonts-color);
   }

.social-media a i{
	cursor: pointer;
  }

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}
#projects{
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
  background-color: var(--main-background)
}
#skills{
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
  background-color: var(--main-background)
}
#education{
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	text-align:center;
	color: var(--main-fonts-color);
  background-color: var(--main-background)
}
#projects h3{
  margin-top:1rem;
}
#education h3{
  margin-top:1rem;
}
#skills h3{
  margin-top:1rem;
}
#projects p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}
#skills p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}
#education p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}

.work{
	display: flex; 
  flex-wrap: wrap;
  justify-content:center;
	align-items: center;
	padding: 10px;
}

.card{
	display: flex;
	flex-direction: column;
	margin: 20px;
	border-radius:12px;
}
a{
  text-decoration:none;
}
.link{
  text-decoration:none;
}
.card img{
	border-radius:10px 10px 0px 0px;
  object-fit:contain;
  margin:auto;
}

.card .work-content{
	text-align: center;
	padding: 10px 5px 0 5px;
  width:300px;
	color:white;
  font-size: 8px;
  background:#032f5e;
  word-wrap:break-word;
	font-family: var(--main-font-family);
	cursor: pointer;
}

.card a{
	text-decoration: none;
}

.card:hover{
	box-shadow: 0 0 1.2rem #f7eded;
}

#contact{
	margin:auto;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:white;
}
	
#contact p{
	padding:10px;
	text-align:center;
  color:white;
	font-size:1.2rem;
	font-family: var(--main-font-family);
}
.social-media1{
	padding: 10px;
	display: flex;
	position: center;
  align-items: space-around;
	justify-content:center;
}

.social-media1 a {
    margin: 10px;
    font-size: 1.3rem;
    text-align:center;
    display: inline-block;
	  color:#fff;
}

.social-media1 a i{
	cursor: pointer;
}

.social-media1  a:hover {
	color:#fff;
}
.contactMail {
	color:#fdfcfc;
}
.contactMail:hover {
	color:#fb5656;
}
footer {
  bottom:0;
	width: 100%;
  padding:1rem 0;
  background-color: var(--main-header-background);
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}
.float{
  background-color:var(--main-decor-color);
  padding:0.2rem 2rem;
  border:none;
  border-radius:20px;
  margin:2vh 0;
}
.float1{
  background-color:var(--main-decor-color);
  padding:0.2rem 2rem;
  color:white;
  border:none;
  border-radius:20px;
  margin:2vh 0;
}
.link{
  text-decoration:none;
  color:white;
}

/*──── hr ─────*/

hr {
  background: var(--main-decor-color);
	margin: 2px;
	height: 3px;
	width: 150px;
  border-radius:5px;
	border: hidden;
	margin-inline-start: auto;
  margin-inline-end: auto;
}
::-webkit-Scrollbar{
    width: 5px; 
	background: rgba(5,5,5,1);
}
::-webkit-Scrollbar-thumb{
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}
::-webkit-Scrollbar-track{
	margin-top: 80px;
	border-radius: 10px;
}
@keyframes navLinkFade{
	from{
		opacity:0;
		transform: translatex(50px);
	}
	to{
		opacity: 1;
		transform:translatex(0px);
	}
}
@media screen and (max-width:1000px){
  #home{
    height:70vh;
  }
  .img{
    width:50vw;
  }
}
@media screen and (max-width:600px){
  #home{
    height:90vh;
  }
  .img{
    width:65vw;
  }
}
.box{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  margin:auto;
}
.containerbox{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  gap:50px;
  margin:auto;
}
#title-Tag-Line {
  font-size: 20px;
}
/* .card-item__bg{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  margin: 30px auto;
  transform: translate(0px, 50px);
  z-index: 5;
} */

/* form animation starts */
.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 80vw;
  min-width:50vw;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 5px solid #ff7583;
  border-left: 5px solid #ff7583;
  border-radius:10px;
/*   z-index: 1; */
}
::-webkit-input-placeholder {
  font-size: 1em;
  color:grey;
}

.titlevalue{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
  color:grey;
  text-align:center;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color:rgb(232, 240, 254);
  color:black;
}
.name:hover {
  border-bottom: 3px solid #21211c;
}

.email {
  background-color:rgb(232, 240, 254);
  color:black;
}

.email:hover {
  border-bottom: 3px solid #21211c;
 
}

.message {
  background-color:rgb(232, 240, 254);
  color:black;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 3px solid #21211c;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #3a3a36;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #fb6565;
  border-radius: 0%;
}




